body{
	margin : 0;
}
table{
	width : 100%;
	height : 100%;
	border-collapse : collapse;
}
td{
	width : 50%;
	height : 100%;
	border : 1xp solid black;
}
Finish Cellule2.2 - Web
￼Set the project as finished
